# My First Jupyter Intro

In [1]:
import pandas as pd

In [3]:
studgrad = pd.read_csv('student_grades.csv')

In [4]:
studgrad.head()

      Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90

In [5]:
1 + 1

2

# Markdown
1 + 1